
.profile__avatar-edit {
  margin-right: 31px;
  display: block;
  background-size: cover;
  position: relative;
}

.profile__avatar-edit::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../images/edit-big-pen.svg);
  opacity: 0;
  background-color: rgba(0, 0, 0, .8);
  background-position: center;
  background-repeat: no-repeat;
}

.profile__avatar-edit:hover {
  opacity: 1;
}

.profile__avatar-edit:hover::before {
  opacity: 1;
  transition: 350ms;
}

@media screen and (max-width: 700px) {
  .profile__avatar-edit {
    display: flex;
    margin: auto;
  }
}
