.profile__button-edit {
    background: none;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    box-sizing: border-box;
    font-size: 0;
    padding: 0;
    margin: auto 0 6px 20px;
    cursor: pointer;
    outline: none;
}

.profile__button-edit:hover {
    opacity: .6;
    transition: 350ms;
}

@media screen and (max-width: 700px) {
    .profile__button-edit {
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 375px) {
    .profile__button-edit {
        width: 18px;
        height: 18px;
        margin-bottom: 3px;
    }
}
