.popup_opened {
    visibility: visible;
    transition: .7s ease;
    -moz-transition: .7s ease;
    -webkit-transition: .7s ease;
    -o-transition: .7s ease;
    -ms-transition: .7s ease;
    display: flex;
    opacity: 1;
}