.popup_opened {
  display: flex;
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
}

/*style=
"  display: flex;
  opacity: 1;
  visibility: visible;"
}*/
