.popup__error {
    position: absolute;
    top: calc(100% + 6px);
    font-size: 12px;
    line-height: 1;
    color: red;
    display: none;
}

@media screen and (max-width: 419px) {
  .popup__error {
    top: calc(100% + 1px);
  }
}
