.profile__user-info {
    display: flex;
    margin: auto 20px auto 0;
    max-width: 550px;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 919px) {
    .profile__user-info {
        max-width: 400px;
        margin-right: 0;
    }
}

@media screen and (max-width: 700px) {
    .profile__user-info {
        margin: 0 auto;
    }
}

@media screen and (max-width: 619px) {
    .profile__user-info {
        max-width: 276px;
    }
}