.profile__user-info {
    display: flex;
    margin: auto 20px auto 0;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 700px) {
    .profile__user-info {
        display: block;
        margin: 0;
    }
}