.profile__button-add {
    margin: auto 0 auto auto;
    background: none;
    min-width: 150px;
    height: 50px;
    box-sizing: border-box;
    font-size: 0;
    border: 1px solid #fff;
    padding: 0px;
    cursor: pointer;
    outline: none; /*сброс обводки "по умолчанию"*/
}

.profile__button-add:hover {
    opacity: .6;
    transition: 350ms;
}

@media screen and (max-width: 700px) {
    .profile__button-add {
        width: 100%;
        margin-top: 33px;
    }
}
