.profile__avatar-jacques-yves-cousteau {
    max-width: 120px;
    min-height: 120px;
    border-radius: 50%;
}

@media screen and (max-width: 700px) {
    .profile__avatar-jacques-yves-cousteau {
        display: flex;
        margin: auto;
    }
}
