.profile__user-info-name {
    font-weight: 500;
    font-size: 42px;
    margin: 0;
}

@media screen and (max-width: 919px) {
    .profile__user-info-name {
        text-align: center;
        font-size: 30px;
        right: 0;
    }
}

@media screen and (max-width: 700px) {
    .profile__user-info-name {
        font-size: 27px;
    }
}