@import url(./__image/card__image.css);
@import url(./__button-delete/card__button-delete.css);
@import url(./__description/card__description.css);
@import url(./__name/card__name.css);
@import url(./__button-like/card__button-like.css);
@import url(./__button-like/_solid/card__button-like_solid.css);
.card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
