.profile__user-info-name {
    font-weight: 500;
    font-size: 42px;
    margin: 0;
}

@media screen and (max-width: 700px) {
    .profile__user-info-name {
        text-align: center;
        font-size: 36px;
        margin-right: 10px;
        right: 0;
    }
}

@media screen and (max-width: 480px) {
    .profile__user-info-name {
        font-size: 30px;
    }
}

@media screen and (max-width: 380px) {
    .profile__user-info-name {
        font-size: 27px;
        margin-right: 6px;
    }
}
